.sellers-form-container{

}

.sellers-form-container input{
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: var(--background-color-3);
}

.sellers-form-container input:focus{
    outline: 1px var(--primary-color-3) solid;
}

.sellers-form-container button{
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: var(--primary-color-1);
}

.sellers-form-container button:hover{
    background-color: var(--primary-color-2);
}

.error-message{
    color: var(--error-color-1);
    margin: -10px 0 0 0;
}
.error-message span{
    color: var(--error-color-1);
}