
.navbarContainer {
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px var(--gray-1) solid; /* Colores constantes definidos en index.css */
    padding: 0px 15px 0 0px;
    margin: 0px;
    text-align: center;
    justify-content: left;
    font-size: 15pt;
    font-weight: 100;
    background-color: var(--background-color-1);
}

.navItem {
    text-decoration: none;
    height: 100%;
    color: var(--text-color-1); /* Colores constantes definidos en index.css */
    display: flex;
    align-items: center;
    padding: 0 2rem 0 2rem;
}

.navItem:hover {
    background-color: var(--primary-color-highlight-1); /* Colores constantes definidos en index.css */
}

.selectedItem {
    border-bottom: 3px solid var(--primary-color-1); /* Colores constantes definidos en index.css */
}

.loginButton {
    margin: 0 0 0 auto;
    padding: 0 1rem 0 1rem;
    border-radius: 10px;
    background-color: var(--primary-color-3); /* Colores constantes definidos en index.css */
    text-decoration: none;
    color: #ffffff;
    font-size: 15pt;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 70%;
    cursor: pointer; /* Cambia el cursor a un puntero al pasar el mouse sobre el botón */
}

.loginButton:hover {
    background-color: var(--primary-color-4);
}

.iconStyle {
    padding: 20px !important;
    margin: 0px !important;
    color: var(--primary-color-3);
    font-size: 30px;
}

.loginContainer {
    margin-left: auto;
    display: flex;
}
