
:root {
  --primary-color-highlight-1: #c3fae3;
  --primary-color-1: #2ecc71;
  --primary-color-2: #27b462;
  --primary-color-3: #21a358;
  --primary-color-4: #177c41;
  --text-color-1: #000000;
  --background-color-1: #ffffff;
  --background-color-2: #eef3ef;
  --background-color-3: #ebebeb;
  --gray-1: #c2c2c2;
  --error-color-1: #ff4b4b;
}


body {
  background-color: var(--background-color-2);
  margin: 0;
}
