.sale-element{
    background-color: var(--background-color-1);
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.sale-title{
    font-weight: 900;
}
.sale-info{
    width: 100%;
}

.sale-info th{
    padding: 0 20px 0 20px;
    font-weight: 400;
}

.sale-info tr:first-child th{
    padding: 0 20px 0 20px;
    font-weight: 900;
}

.remove-product-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.remove-product-button:hover {
    background-color: #c0392b;
}

