.estiloPage{
    color: #D29836;
}

.barraB{
    gap: 10px;
    background-color: #05a764;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 15px 0 0px;
    margin: 0px;
    text-align:center;
    justify-content: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
    font-weight: 100;
}

.estiloElemento{
    color:#ffffff !important;
    text-decoration: none;
    height: 96%;

    display: flex;
    align-items: center;

    padding: 0 2rem 0 2rem;
}
.estiloElemento:hover{
    background-color:#059c5d;
}
.estiloSeleccion{
    border-bottom: 3px solid #08ca79;
}

.estiloLogIn{
    margin: 0 0 0 auto;
    padding: 0 1rem 0 1rem;
    border-radius: 10px;
    background-color: #0e7449;
    border-color: #0000;
    text-decoration: none;
    color: #ffffff;
    font-size: 15pt;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 70%;
    cursor: pointer; /* Cambia el cursor a un puntero al pasar el mouse sobre el botón */
}


.estiloLogInSeleccion{
    border-radius: 10px;
    background-color: #E3B974;
    border-color: #E3B974;
    box-shadow: none;
    border: none;
    color: #FFFFFF;
    height: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: xx-large;

}

.estiloLogo{
    background-color: #5D3810;
    padding: 0px !important;
    margin: 0px !important;
    width: 10px;
    height: auto;
}
.estiloIcono {
    padding: 20px !important;
    margin: 0px !important;
    color: white;  /* Cambia el color si lo necesitas */
    font-size: 30px; /* Ajusta el tamaño del icono */
}
.contenedorLogin {
    margin-left: auto; /* Empuja el botón a la derecha */
    display: flex;
}
